<!DOCTYPE html>
<html>
  <head>
    <title>Modify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="<%= image_url("black_logo.png") %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.blackLogo = "<%= image_url("black_logo.png") %>"
      window.whiteLogo = "<%= image_url("white_logo.png") %>"
      window.pinkSunset = "<%= image_url("pink_sunset.jpg") %>"
      window.homeSelected = "<%= image_url("home_selected.png") %>"
      window.home = "<%= image_url("home.png") %>"
      window.library = "<%= image_url("library.png") %>"
      window.search = "<%= image_url("search.png") %>"
      window.defaultMusic = "<%= image_url("white-music.png") %>"
      window.whiteMusic = "<%= image_url("white-music-copy.png") %>"
      window.whitePlay = "<%= image_url("white-play.png") %>"
      window.whitePlay2 = "<%= image_url("white-play2.png") %>"
      window.whiteMusic2 = "<%= image_url("white-music2.png") %>"
      window.musicPlayerPlay = "<%= image_url("musicPlayer-play.png") %>"
      window.musicPlayerPause = "<%= image_url("musicPlayer-pause.png") %>"
      window.musicPlayerPrev = "<%= image_url("musicPlayer-prev.png") %>"
      window.musicPlayerNext = "<%= image_url("musicPlayer-next.png") %>"
      window.musicPlayerCheck = "<%= image_url("musicPlayer-check.png") %>"
      window.musicPlayerPlus = "<%= image_url("musicPlayer-plus.png") %>"
      </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
